/*------------------------------------
  APP LAYOUT
------------------------------------*/
.App {
  color: #FFB10A;
  text-align: center;
  min-height:100vh;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px auto 50px;
  grid-template-areas: 
  'h'
  'm'
  'f';
}
.App__header {
  grid-area: h;

  background-color: #333333;
  border-bottom: 2px solid #FFB10A;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;


}
.App__main{
  grid-area: m;

  background-color: #4D4D4D;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow:
  0 -2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 -6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 -12.5px 10px rgba(0, 0, 0, 0.035),
  0 -22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 -41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 -100px 80px rgba(0, 0, 0, 0.07)
;
}
.App__footer{
  grid-area: f;

  background-color: #333333;
  border-top: 2px solid #FFB10A;
  
}
/*------------------------------------
  HEADER CONTENT : LOGO
------------------------------------*/
.header__logo{
  margin-left:50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

}
.header__logo__title{
  font-size: 40px;
  
}
.header__logo__subtitle{
  font-size: 30px;
  transform: translateY(5px) translatex(10px);
  
}


